/* ---- SearchBar.js -------*/
.searcharea{
    margin-top: 60px;
}
.searcharea label{
    margin: 0px 12px;
}
.searcharea input{
    width: 60%;
    min-width: 300px;
}
/* ---- BookList.js -------*/
.booklist{
    text-align: center;
}
.booklist img{
    width: 180px;
    height: 240px;
    margin:20px;
}

